@model CreateSubjectButtonModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<li class="nav-item" id="@Model.Subject.SubjectId"><a class="navbar-link" onClick="loadLevels(@Model.Subject.SubjectId)">@Html.Raw(Model.Subject.SubjectName)</a></li>
