@model CreateSubjectButtonModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p id="@Model.Subject.SubjectId"><button type="button" onClick="loadLevels(@Model.Subject.SubjectId)" class="@Model.ButtonStyle btn-lg">@Model.Subject.SubjectName</button></p>
