@model FindMyTutor.Web.ViewModels.Messages.MailViewModel

@{
    ViewData["Title"] = "View";
}

<h2 class="text-info">Съобщения</h2>

@{ await Html.RenderPartialAsync("Partial/_Senders.cshtml", Model.Senders); }
<div>

    <a asp-action="Index" asp-controller="Home">Начало</a>
</div>
