@model FindMyTutor.Web.ViewModels.Messages.CorrespondenceViewModel

@{
    ViewData["Title"] = "Correspondence";
}

<h2>Чат с @Model.Interlocutor</h2>

<div>
@{ await Html.RenderPartialAsync("Partial/_Message.cshtml", Model.Messages);}
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
