@model FindMyTutor.Web.ViewModels.Messages.CorrespondenceViewModel

@{
    ViewData["Title"] = "Correspondence";
}


@{await Html.PartialAsync("~/Views/Shared/_TempDataValidation.cshtml", this.TempData); }

<h2>Чат с @Model.Interlocutor</h2>

<div>
    @{ await Html.RenderPartialAsync("Partial/_Message.cshtml", Model.Messages);}


</div>

<div>
    @{ await Html.RenderPartialAsync("Partial/_Respond.cshtml", Model.Respond);}
</div>

