@model CreateOfferViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Error"] = "";
}

<h2>Добави оферта</h2>
<h2>@ViewData["Error"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Offer" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<div class="form-group">
            <label asp-for="ExpirationDate" class="control-label"></label>
            <input asp-for="ExpirationDate" class="form-control" />
            <span asp-validation-for="ExpirationDate" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <br />
                <textarea asp-for="Description" rows="20" cols="50"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subjects" class="control-label"></label>
                <br />
                <select id="subjects" class="col-lg-6 form-control">
                    <option selected="selected" label="Избери предмет" value="0"></option>
                    @foreach (var subject in Model.Subjects)
                    {
                        <option label="@subject.Text" value="@subject.Value" onselect="loadLevels(@subject.Value)"></option>
                    }
                </select>
                <span asp-validation-for="SubjectNameId" class="text-danger"></span>
                <br />
            </div>
           
            <div class="form-group" id="levelsSelect" style="display:none">
                <label asp-for="Levels" class="control-label"></label>
                <br />
                <select id="levels" class="col-lg-6 form-control"></select>
                <br />
                <span asp-validation-for="SubjectNameId" class="text-danger"></span>
            </div>
            <div class="form-group" id="subjectNamesSelect" style="display:none">
                <br />
                <label asp-for="SubjectNames" class="control-label"></label>
                <br />
                <select asp-for="SubjectNames" id="subjectNames" class="form-control"></select>
                <br />
                <input type="hidden" asp-for="SubjectNameId" id="subjectNameId" />
                <span asp-validation-for="SubjectNameId" class="text-danger"></span>
            </div>          
           
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input id="priceBox" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SharePriceOptions" class="control-label"></label>
                <input type="checkbox" asp-for="SharePriceOptions" class="text-danger" onclick="disablePriceBox()" />
            </div>

            
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>  
    function disablePriceBox() {

        $('#priceBox').empty();
        var isDisabled = $("#priceBox").prop("disabled");
        $("#priceBox").attr("disabled", !isDisabled);
    }

    $("#subjects").change(loadLevels);

    function loadLevels() {

        let id = $('#subjects option:selected').val();
        $("#levels").empty();
        $('#levels').append('<option selected="selected" label="Избери ниво" value="0"></option>');
        if (id > 0) {
            let url = "/loadLevels/" + id;
            $('#levelsSelect').show();
            $.get({
                type: 'GET',
                url: url,
                success: function (result) {

                    
                    // console.log($("#levels"));
                    for (let name of result) {
                        console.log(name);
                        let element = $(`<option label="${name.text}"
                                  value="${name.value}" onselect="loadSubjectNames(${name.value})"></option>`);
                        
                        //  console.log(element);
                        //  console.log(element);                      
                        

                        $("#levels").append(element);
                      //  element.change(loadSubjectNames(name));                    
                      
                    }
                }
            })
        }       
    }

    $('#levels').change(loadSubjectNames);

    function loadSubjectNames() {

        $('#subjectNamesSelect').show();
        $('#subjectNames').empty();
        let name = $('#levels option:selected').val();
        let subjectId = $('#subjects option:selected').val();
        let url = `/loadSubjectNames/${subjectId}/${name}`;
        console.log(url);
        $.get({
            type: 'GET',
            url: url,
            success: function (result) {
                // console.log($("#levels"));
                console.log("success");
                console.log(result);
                for (let name of result) {
                    console.log(name);
                    let element = $(`<option label="${name.text}"
                                  value="${name.value}"></option>`);

                   

                    //  console.log(element);
                    //  console.log(element);                      


                    $("#subjectNames").append(element);
                    //  element.change(loadSubjectNames(name));                    

                }
            }
        })
    }       
        

    $('#subjectNames').change(setSubjectNameId);

    function setSubjectNameId() {
        var id = $('#subjectNames option:selected').val();
        console.log(id);           

        $('#subjectNameId').val(id);
        
        $('#subjectNames option:selected').attr("for", "SubjectNameId");
    }


    </script>
    
    }
    <div>
        <a asp-controller="Home" asp-action="Index">Начало</a>
    </div>

